body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:70px;
  width:1500px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:720px;
  top:293px;
  width:321px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:657px;
  top:450px;
  width:73px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:780px;
  top:453px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:657px;
  top:520px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:780px;
  top:523px;
  width:200px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:805px;
  top:650px;
  width:150px;
  height:50px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:1470px;
  top:750px;
  width:150px;
  height:50px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
