body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1779px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:28px;
  width:1759px;
  height:882px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1759px;
  height:882px;
}
#u1 {
  position:absolute;
  left:2px;
  top:433px;
  width:1755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:140px;
  width:200px;
  height:420px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:420px;
}
#u3 {
  position:absolute;
  left:2px;
  top:202px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:240px;
  top:140px;
  width:1500px;
  height:740px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:740px;
}
#u5 {
  position:absolute;
  left:2px;
  top:362px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:100px;
  width:80px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:670px;
  top:40px;
  width:1090px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1667px;
  top:49px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1387px;
  top:171px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:1617px;
  top:171px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:1268px;
  top:174px;
  width:90px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:260px;
  top:640px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:410px;
  top:640px;
  width:41px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:260px;
  top:680px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:410px;
  top:680px;
  width:31px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:269px;
  top:164px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:40px;
  top:190px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:40px;
  top:230px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:40px;
  top:278px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:40px;
  top:320px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:40px;
  top:150px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
